<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="{% static "img/fav/favicon.ico" %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180"
      href="{% static "img/fav/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32"
      href="{% static "img/fav/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16"
      href="{% static "img/fav/favicon-16x16.png" %}">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link href="{% static "css/templatemo_style.css" %}" rel="stylesheet"
        type="text/css"/>
  <script language="javascript" type="text/javascript">
      function clearText(field) {
          if (field.defaultValue == field.value) field.value = '';
          else if (field.value == '') field.value = field.defaultValue;
      }
  </script>
</head>
<body>
  {% include "includes/menu.html" %}
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
<footer class="border-top text-center py-3 footer">
  {% include "includes/footer.html" %}
</footer>
</body>
</html>
