{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, я автор</h1>
  <p>
    Каманин Юрий Николаевичи 1981 года рождения,
    </p>
  <p>
    к.т.н. по всяким гидроударникам.
    </p>
  <p>
    Было бы время оформил бы.
    А пока на правах рекламы <a href="http://orel-repit.ru"> мой сайт</a>
  </p>
    <div class="container py-5">
      <h2 class="text-center">Когда я не кодю...</h2>
      <div class="hobbies">
        <ul>
          <li>Рыбалка (BigFish 13kg)</li>
          <li>Сериальчики перед сном</li>
          <li>Hearthstone</li>
          <li>Пиво! (хороший крафт)</li>
        </ul>
      </div>
    </div>
{% endblock %}
