{% load thumbnail %}
<div class="post_box">
  <div class="news_meta">Дата публикации: {{ post.pub_date|date:"d E Y" }},
    <a
      href="{% url "posts:profile" post.author.username %}"> {{ post.author.get_full_name }}</a>
  </div>
  {% thumbnail post.image "810x339" crop="center" upscale=True as im %}
    <div class="image_wrapper"><a href=""
                                  target="_parent"><img src="{{ im.url }}"
                                                        alt="image 1"/></a>
    </div>
  {% endthumbnail %}
  <p align="justify">{{ post.text }}</p>
  <div class="cleaner"></div>
</div>
